<!DOCTYPE html>
<html>
<head>
    <title>Welcome to my YouTube to MP3 Converter</title>

    <style>
        body {
            background-image: linear-gradient(to bottom, #6495ED, #66CC99);
            font-family: Arial, sans-serif;
        }

        .container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .title {
            font-size: 48px; /* Increased font-size */
            margin-bottom: 50px;
            color: red; /* Set the color to red */
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .input-field {
            font-size: 16px;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            width: 300px;
        }

        .clear-button {
            font-size: 16px;
            padding: 8px 12px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            /* Apply custom button styles */
            --button_radius: 0.75em;
            --button_color: #e8e8e8;
            --button_outline_color: #000000;
            font-weight: bold;
            border: none;
            border-radius: var(--button_radius);
            background: var(--button_outline_color);
        }

        .clear-button .button_top {
            display: block;
            box-sizing: border-box;
            border: 2px solid var(--button_outline_color);
            border-radius: var(--button_radius);
            padding: 0.75em 1.5em;
            background: var(--button_color);
            color: var(--button_outline_color);
            transform: translateY(-0.2em);
            transition: transform 0.1s ease;
        }

        .clear-button:hover .button_top {
            /* Pull the button upwards when hovered */
            transform: translateY(-0.33em);
        }

        .clear-button:active .button_top {
            /* Push the button downwards when pressed */
            transform: translateY(0);
        }

        .submit-button {
            font-size: 16px;
            padding: 8px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
            /* Apply custom button styles */
            --button_radius: 0.75em;
            --button_color: #e8e8e8;
            --button_outline_color: #000000;
            font-weight: bold;
            border: none;
            border-radius: var(--button_radius);
            background: var(--button_outline_color);
        }

        .submit-button .button_top {
            display: block;
            box-sizing: border-box;
            border: 2px solid var(--button_outline_color);
            border-radius: var(--button_radius);
            padding: 0.75em 1.5em;
            background: var(--button_color);
            color: var(--button_outline_color);
            transform: translateY(-0.2em);
            transition: transform 0.1s ease;
        }

        .submit-button:hover .button_top {
            /* Pull the button upwards when hovered */
            transform: translateY(-0.33em);
        }

        .submit-button:active .button_top {
            /* Push the button downwards when pressed */
            transform: translateY(0);
        }
        .input-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }

        .submit-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }


    </style>

</head>
<body>
    <div class="container">
        <h1 class="title">Download MP3s from YouTube Videos</h1>
        <form class="form" id="convert-form" action="{{ url_for('convert') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="input-container">
                <input class="input-field" type="text" name="video_url" id="video-url" placeholder="Enter YouTube URL" required>
                <button class="clear-button" type="button" onclick="clearInput()">Clear</button>
            </div>
            <div class="button-container">
                <input class="submit-button" type="submit" value="Convert" onclick="showMessage()">
            </div>
        </form>
        <div id="conversion-message" style="display: none;">
            <br>
            Converting video, please wait...
        </div>
    </div>

    <script>
        function clearInput() {
            document.getElementById('video-url').value = '';
        }
        function showMessage() {
            document.getElementById('conversion-message').style.display = 'block';
        }
    </script>
</body>
</html>